Language: Cpp
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
UseTab: Never
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: 0
ConstructorInitializerIndentWidth: 0
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Right
SortIncludes: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
IndentCaseLabels: true
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
UseCRLF: true
